.guide-sharer {
    .active {
        .btn-share {
            color: #576E22;
        }

        .btn-getfood {
            color: #0000C2;
        }
    }

    ol {
        list-style-type: decimal;
        padding: 0 24px;
    }
}