<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/Logo.png" />
  <title>Flavor Trail - aboutUs</title>
</head>

<body>
  <header>
    <%- include('./layout/header'); -%>
  </header>
  <section class="our-ideal container nav-mt pt-4 pt-lg-7 pb-12">
    <div class="ideal-banner-img mb-4 mb-lg-12">
      <div class="ideal-banner-deco"></div>
    </div>
    <div class="ideal-subtitle fw-bolder fs-2 mb-8 d-flex justify-content-end">
      <div class="d-flex flex-column">
        <div class="lh-32">世界更美好</div>
        <div class="ideal-text-vertical">味同行</div>
      </div>
    </div>
    <div class="ideal-content row">
      <div class="col-md-9 col-lg-8">
        <h4 class="fs-4 fs-lg-3 fw-bold ideal-content-subtitle">
          OUR PHILOSOPHY
        </h4>
        <div class="ideal-title pt-5 pt-lg-7 pb-10 pb-lg-7-">我們的理念</div>
        <p class="fs-6 fs-lg-4 text-gray-700">在「餘味尋蹤」，我們相信每一份食物都有它的價值。<br>
          無論是餐桌上的剩餘美味，還是廚房裡多出的食材，<br class="d-none d-md-block">
          我們的使命是為它們找到下一位品味者，讓分享成為社群的一部分。
        </p>
      </div>
    </div>
  </section>
  <!--頁尾區-->
  <%- include('layout/footer') %>
    <div class="d-lg-none">
      <%- include('./layout/header'); %>
    </div>
    <%- include('./layout/rectangle-CTA', {currentCtaRectangleTitle: '我要領取' , page: 'postPage' }) %>
      <script type="module" src="../main.js"></script>
</body>

</html>