<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/Logo.png" />
  <title>Flavor Trail - aboutUs</title>
</head>

<body>
  <header>
    <%- include('./layout/header'); -%>
      <div class="mt-19">
        <p>幫我撐十秒，上面區塊的大大可以幫我刪掉</p>
      </div>
      <%- include('./layout/aboutUs-marquee.ejs') %>
        <div class="mb-19">
          <p>幫你撐十秒，下面區塊的大大可以幫我刪掉</p>
        </div>
        <!--頁尾區-->
        <%- include('layout/footer') %>
          <div class="d-lg-none">
            <%- include('./layout/header'); %>
          </div>
          <%- include('./layout/rectangle-CTA', {currentCtaRectangleTitle: '我要領取' , page: 'postPage' }) %>
            <script type="module" src="../main.js"></script>
            <script type="module">
              import { Collapse } from 'bootstrap';

              const shareCollapse = new Collapse('#shareCollapse', {
                toggle: false
              });
              const discoverCollapse = new Collapse('#discoverCollapse', {
                toggle: false
              });
              const connectCollapse = new Collapse('#connectCollapse', {
                toggle: false
              });
              const aboutService = document.querySelector('.aboutService');
              aboutService.addEventListener('click', (e) => {
                // let targetMarquee = e.target.closest('.marquee');
                let targetCollapse = e.target.closest('.marquee').dataset.collapse;
                switch (targetCollapse) {
                  case 'shareCollapse':
                    shareCollapse.toggle();
                    break;
                  case 'discoverCollapse':
                    discoverCollapse.toggle();
                    break;
                  case 'connectCollapse':
                    connectCollapse.toggle();
                    break;
                }
              })

            </script>
</body>

</html>