<!DOCTYPE html>
<html lang="zh-hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/assets/images/Logo.png" />
  <title>Flavor Trail - guideLine</title>
</head>

<body>
  <header>
    <%- include('./layout/header'); -%>
  </header>
  <!--頁尾區-->
  <%- include('layout/footer') %>
    <div class="d-lg-none">
      <%- include('./layout/header'); %>
    </div>
      <script type="module" src="../main.js"></script>
</body>

</html>